* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #192a33;
  --color-bg-light: #1f3640;
  --color-bg-gray: #a8bec9;
  --color-bg-gray-dark: #7a8991;
  --color-bg-yellow: #f2b238;
  --color-bg-yellow-dark: #cd8d16;
  --color-bg-blue: #30c4be;
  --color-bg-blue-dark: #128c89;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-bg-gray);
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 450px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 1rem;
}

/* utilites */

.card {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 15px;
  background-color: var(--color-bg-light);
  text-align: center;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-2xl {
  font-size: 1.725rem;
}

.text-light {
  color: var(--color-bg-gray-dark);
}

.text-blue {
  color: var(--color-bg-blue);
}

.text-yellow {
  color: var(--color-bg-yellow);
}

.bg-light {
  background-color: var(--color-bg-gray);
  color: var(--color-bg-dark);
}

.bg-yellow {
  background-color: var(--color-bg-yellow);
  color: var(--color-bg-dark);
}

.bg-blue {
  background-color: var(--color-bg-blue);
  color: var(--color-bg-dark);
}

.bg-blue.text-light,
.bg-blue .text-light,
.bg-yellow.text-light,
.bg-yellow .text-light,
.bg-light.text-light,
.bg-light .text-light {
  color: var(--color-bg-light);
}

.btn {
  background: var(--color-bg-gray);
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 12px 25px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  color: var(--color-bg-light);
  display: inline-block;
  box-shadow: 0 6px 0 var(--color-bg-gray-dark);
  margin-bottom: 6px;
  transition: all 0.2s;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 4px 0 var(--color-bg-gray-dark);
}

.btn-yellow {
  background-color: var(--color-bg-yellow);
  box-shadow: 0 6px 0 var(--color-bg-yellow-dark);
}

.btn-yellow:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 0 var(--color-bg-yellow-dark);
}

.btn-blue {
  background-color: var(--color-bg-blue);
  box-shadow: 0 6px 0 var(--color-bg-blue-dark);
}

.btn-blue:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 0 var(--color-bg-blue-dark);
}

.shadow-gray {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow-blue {
  box-shadow: 0 8px 0 var(--color-bg-blue-dark);
}

.shadow-yellow {
  box-shadow: 0 8px 0 var(--color-bg-yellow-dark);
}

/* Icon */

.icon {
  display: inline-block;
}

.icon svg {
  fill: var(--color-bg-gray);
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

.icon-sm svg {
  height: 20px;
  width: 30px;
}

.icon-lg svg {
  height: 65px;
  width: 65px;
}

.icon-yellow svg {
  fill: var(--color-bg-yellow);
}

.icon-blue svg {
  fill: var(--color-bg-blue);
}

.icon-dark svg {
  fill: var(--color-bg-dark);
}

/* Start */

.start {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.start_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start_player {
  background-color: var(--color-bg-dark);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

.start_player span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.start_player--active {
  background-color: var(--color-bg-gray);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.start_btn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* board */

.board_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.board_turn {
  border-radius: 5px;
  background-color: var(--color-bg-light);
  padding: 18px 18px;
  display: flex;
  align-items: center;
  gap: 4px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}

.board_restart svg {
  height: 30px;
  display: flex;
  align-items: center;
  transform-origin: center;
  transition: all 0.3s;
}

.board_restart:active svg {
  transform: rotate(180deg);
}

.board_body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.board_body .card {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-inline: 10px;
}

.board_body .active.shadow-blue {
  background-color: var(--color-bg-blue);
}

.board_body .active.shadow-yellow {
  background-color: var(--color-bg-yellow);
}

.board_footer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.board_footer .card {
  gap: 10px;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.modal_content {
  width: 100%;
  background-color: var(--color-bg-light);
}

/* score */

.score {
  text-align: center;
}

.score_title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 30px 0;
}

.score_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* restart */

.restart {
  text-align: center;
}

.restart_title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 30px;
}

.restart_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}